
body{
    background-color: green;
}
header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: black;
    height: 118px;
    width: 100%;

    a{
        color: green;
        font-size: 30px;
    }
}
h1 {
    font-size: 30px;
    color: green;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}

img{
    width: 100%;
    max-height: 750px;
    object-fit: cover;
}
main{
    padding-top: 1%;
}
.mySwiper{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    color: black;
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}