body{
    background-color: green;
}
header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: black;
    height: 118px;
    width: 100%;

    a{
        color: green;
        font-size: 30px;
    }
}
h1 {
    font-size: 30px;
    color: green;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
button{
    font-size: 30px;
    background-color: green;
}
.resume{
    text-align: center;
}